<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noah.app.quant.mapper.BalanceSheetMapper">
	<select id="selectBalanceSheetByYear" parameterType="com.noah.app.vo.ItemDto" resultType="com.noah.app.vo.BalanceSheetDto">
			select * from (select * from balance_sheet where item_id = #{id} AND report_code ='11011' order by id DESC) where ROWNUM =1
	</select>
</mapper>