<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.or





g//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noah.app.quant.mapper.ItemMapper">
	<select id = 'selectItemDtoList' parameterType ='HashMap' resultType = 'com.noah.app.vo.ItemDto'>
		SELECT *
			FROM ITEM
		<where>
			<if test = 'isActive != "" and isActive !=null'>
				AND IS_ACTIVE =#{isActive}
			</if>
			<if test = 'isCorpCode != null and isCorpCode != ""'>
				AND CORP_CODE IS NOT NULL
			</if>
			<if test = "market !=null and market!=''">
				AND MARKET = #{market}
			</if>
			<if test = "industry != null and industry != ''">
				AND industry = #{industry}
			</if>
			<if test = "corpSize != null and corpSize!= ''">
				And A.corp_size = #{corpSize}
			</if>
		</where>
	</select>
	


	
	<select id ="selectHistoryDataListByYear" parameterType = 'com.noah.app.vo.ItemDto' resultType = "com.noah.app.vo.HistoryDataDto">
		select * from history_data where item_id = #{id} AND to_char(trading_date, 'YYYY/MM/DD') <![CDATA[>=]]> to_char(add_months(SYSDATE,-12), 'YYYY/MM/DD')  order by id ASC
	</select>
	<select id = 'selectBusinessDates' resultType = 'int'>
		select max(count(*)) from history_data where to_char(trading_date, 'YYYY/MM/DD') <![CDATA[>=]]>  to_char(add_months(SYSDATE,-12), 'YYYY/MM/DD') group by item_id
	</select>
	
	<select id = 'selectHistroyData' parameterType = "hashmap" resultType='com.noah.app.vo.HistoryDataDto'>
		select * from history_data where item_id = #{itemId}
	</select>


</mapper>