<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noah.app.quant.mapper.ItemMapper">
	<select id = 'selectItemDtoList' parameterType ='HashMap' resultType = 'com.noah.app.vo.ItemDto'>
		SELECT *
			FROM ITEM
		<where>
			<if test = 'isActive != "" and isActive !=null'>
				AND IS_ACTIVE ='CPC_STOCK_STATUS_NORMAL'
			</if>
			<if test = 'isCorpCode != null and isCorpCode != ""'>
				AND CORP_CODE IS NOT NULL
			</if>
			<if test = "market !=null and market!=''">
				AND A.MARKET = #{market}
			</if>
			<if test = "industry != null and industry != ''">
				AND A.industry = #{industry}
			</if>
			<if test = "corpSize != null and corpSize!= ''">
				And A.corp_size = #{corpSize}
			</if>
		</where>
	</select>
	

	<!-- 지워버릴것  -->
	<select id = "selectHistoryDataList" parameterType = "HashMap" resultType ="com.noah.app.vo.HistoryDataDto">
		
			SELECT 
			*
            FROM(SELECT * FROM HISTORY_DATA WHERE ITEM_ID = #{itemDto.id}
            ORDER BY TRADING_DATE DESC) T 
 			<where>
            	<choose>
            		<when test ="period != null">
            			AND ROWNUM <![CDATA[  <= ]]> #{period} 
            		</when>
            		<otherwise>
						AND ROWNUM <![CDATA[  <= ]]> 255
					</otherwise>
				</choose>
			</where>
	</select>
	
	<select id ="selectHistoryDataL" parameterType = 'com.noah.app.vo.ItemDto' resultType = "com.noah.app.vo.HistoryDataDto">
		select * from history_data where item_id = #{id} AND to_char(trading_date, 'YYYY/MM/DD') <![CDATA[>=]]> to_char(add_months(SYSDATE,-12), 'YYYY/MM/DD')
	</select>
	<select id = 'selectBusinessDates' resultType = 'int'>
		select max(count(*)) from history_data where to_char(trading_date, 'YYYY/MM/DD') <![CDATA[>=]]>  to_char(add_months(SYSDATE,-12), 'YYYY/MM/DD') group by item_id
	</select>
	
	<select id = "selectHistoryDataListUnion" parameterType ="java.util.List" resultType = "com.noah.app.vo.HistoryDataDto">
		<foreach collection="list" item="item" open="" close="" separator="UNION">
			SELECT 
			*
            FROM(SELECT * FROM HISTORY_DATA WHERE ITEM_ID = #{item.id}
            ORDER BY TRADING_DATE DESC) T 
            where ROWNUM  <![CDATA[<=]]> 255 
		</foreach>
	</select>
	<select id = "selectHistoryDataByYear" resultType = "com.noah.app.vo.HistoryDataDto">
		select * from history_data where to_char(TRADING_DATE, 'YYYY/MM/DD') <![CDATA[>=]]> '2020/11/19' order by trading_date DESC
	</select>
</mapper>